@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Roboto';
}

body {
    background-color: #08183B;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

tr {
    background-color: white;
}

td,
th {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.rolar {
    position: sticky;
    top: -1px;
}

tr:nth-child(2n) {
    background-color: lightgray;
}

.programacao {
    margin-bottom: 15px;
}

nav {
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

p {
    color: #FFFFFF;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

li::marker {
    color: #BFBFBF;
}

a {
    text-decoration: none;
    color: #BFBFBF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.eventos {
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: #BFBFBF;
}

h2 {
    color: #BFBFBF;
}

h3 {
    color: #BFBFBF;
}

h4 {
    color: #ffffff;
    text-align: center;
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
}

footer {
    height: 60px;
}


@media screen and (min-width: 480px) {
    .imgs {
        padding-left: 50px;
    }

    a {
        text-decoration: none;
        color: #BFBFBF;
        display: inline;
    }
}
